import { useState } from 'react'

import { Link, routes, useParams } from '@redwoodjs/router'
import { useMutation } from '@redwoodjs/web'
import { toast } from '@redwoodjs/web/toast'

import SearchWidget from 'src/components/radmin/SearchWidget'
import { truncate, truncateId, truncateMaybeId, checkboxInputTag, formatEnum, timeTag } from 'src/lib/radminFormatters'
import { QUERY } from 'src/pages/Radmin/<%= model.pascalName %>/<%= model.pascalPluralName %>Page/<%= model.pascalPluralName %>Cell'

const DELETE_<%= model.capitalName %>_MUTATION = gql`
  mutation DeleteList<%= model.pascalName %>Mutation($id: <%= idFieldType %>!) {
    delete<%= model.pascalName %>(id: $id) {
      id
    }
  }
`

const <%= model.pluralName %> = ({ <%= model.camelPluralName %> }) => {
  const [highlightedRow, setHighlightedRow] = useState(-1)
  const params = useParams()
  const [delete<%= model.pascalName %>] = useMutation(DELETE_<%= model.capitalName %>_MUTATION, {
    onCompleted: () => {
      toast.success('<%= model.pascalName %> deleted')
    },
    onError: (error) => {
      toast.error(error.message)
    },
    refetchQueries: [
      {
        query: QUERY,
        variables: {
          page: params.page || 1,
          q: params.q,
        },
      },
    ],
    awaitRefetchQueries: true,
  })

  const onDeleteClick = (id) => {
    if (confirm('Are you sure you want to delete <%= model.name %> ' + id + '?')) {
      delete<%= model.name %>({ variables: { id } })
    }
  }

  return (
    <div className="radmin-model-list">
      <header>
        <h2><%= model.humanizedPluralName %></h2>
        <Link
          to={routes.radminNew<%= model.pascalName %>()}
          className="radmin-button"
        >
          New <%= model.humanizedName %>
        </Link>
      </header>
      <SearchWidget searchField="<%= searchField %>" routesFn={routes.radmin<%= model.pluralName %>} />
      <div className="radmin-table-wrapper">
        <table className="radmin-table">
          <thead>
            <tr>
              <%_ for (let field of modelFields) { -%>
                <%_ const renderData = getRenderData(field.name) -%>
                <th><%= renderData.displayName %></th>
              <%_ } -%>
              <th>
                <span className="sr-only">Actions</span>
              </th>
            </tr>
          </thead>
          <tbody>
            {<%= model.camelPluralName %>.map((<%= model.camelName %>) => (
              <tr
                key={<%= model.camelName %>.id}
                onClick={() => {
                  // Toggle highlight if clicking on the same row again
                  if (highlightedRow === <%= model.camelName %>.id) {
                    setHighlightedRow(-1)
                  } else {
                    setHighlightedRow(<%= model.camelName %>.id)
                  }
                }}
                className={highlightedRow === <%= model.camelName %>.id ? 'radmin-row-highlight' : ''}
              >
                <%_ for (let field of modelFields) { -%>
                  <%_ const renderData = getRenderData(field.name) -%>
                  <td>{<%= renderData.listDisplayFunction %>(<%= model.camelName %>.<%= field.name %>)}</td>
                <%_ } -%>
                <td>
                  <nav>
                    <Link
                      to={routes.radmin<%= model.pascalName %>({ id: <%= model.camelName %>.id })}
                      title={'Show <%= model.name %> ' + <%= model.camelName %>.id + ' details'}
                      className="radmin-button"
                    >
                      Show
                    </Link>
                    <Link
                      to={routes.radminEdit<%= model.pascalName %>({ id: <%= model.camelName %>.id })}
                      title={'Edit <%= model.name %> ' + <%= model.camelName %>.id}
                      className="radmin-button"
                    >
                      Edit
                    </Link>
                    <button
                      type="button"
                      title={'Delete <%= model.name %> ' + <%= model.camelName %>.id}
                      onClick={() => onDeleteClick(<%= model.camelName %>.id)}
                      className="radmin-button radmin-button-delete"
                    >
                      Delete
                    </button>
                  </nav>
                </td>
              </tr>
            ))}
          </tbody>
        </table>
      </div>
    </div>
  )
}

export default <%= model.pluralName %>
