import { Link, routes } from '@redwoodjs/router'

import SearchWidget from 'src/components/arwdmin/SearchWidget'
import { truncate, truncateId, truncateMaybeId, checkboxInputTag, formatEnum, timeTag } from 'src/lib/arwdminFormatters'

const <%= model.pluralName %> = ({ <%= model.camelPluralName %> }) => {
  const onDeleteClick = (id) => {
    if (confirm('Are you sure you want to delete <%= model.name %> ' + id + '?')) {
      // TODO: Implement
      // delete<%= model.name %>({ variables: { id } })
    }
  }

  return (
    <div className="arwdmin-model-list">
      <header>
        <h2><%= model.humanizedPluralName %></h2>
        <Link
          to={routes.arwdminNew<%= model.pascalName %>()}
          className="arwdmin-button"
        >
          New <%= model.humanizedName %>
        </Link>
      </header>
      <SearchWidget routesFn={routes.arwdmin<%= model.pluralName %>} />
      <div className="arwdmin-table-wrapper">
        <table className="arwdmin-table">
          <thead>
            <tr>
              <%_ for (let field of modelFields) { -%>
                <% const renderData = getRenderData(field.name) %>
                <th><%= renderData.displayName %></th>
              <% } %>
              <th>
                <span className="sr-only">Actions</span>
              </th>
            </tr>
          </thead>
          <tbody>
            {<%= model.camelPluralName %>.map((<%= model.camelName %>) => (
              <tr key={<%= model.camelName %>.id}>
                <%_ for (let field of modelFields) { -%>
                  <% const renderData = getRenderData(field.name) %>
                  <td>{<%= renderData.listDisplayFunction %>(<%= model.camelName %>.<%= field.name %>)}</td>
                <% } %>
                <td>
                  <nav className="rw-table-actions">
                    <Link
                      to={routes.arwdmin<%= model.pascalName %>({ id: <%= model.camelName %>.id })}
                      title={'Show <%= model.name %> ' + <%= model.camelName %>.id + ' details'}
                      className="arwdmin-button"
                    >
                      Show
                    </Link>
                    <Link
                      to={routes.arwdminEdit<%= model.pascalName %>({ id: <%= model.camelName %>.id })}
                      title={'Edit <%= model.name %> ' + <%= model.camelName %>.id}
                      className="arwdmin-button"
                    >
                      Edit
                    </Link>
                    <button
                      type="button"
                      title={'Delete <%= model.name %> ' + <%= model.camelName %>.id}
                      onClick={() => onDeleteClick(<%= model.camelName %>.id)}
                      className="arwdmin-button"
                    >
                      Delete
                    </button>
                  </nav>
                </td>
              </tr>
            ))}
          </tbody>
        </table>
      </div>
    </div>
  )
}

export default <%= model.pluralName %>
