import type {
  Delete<%= model.pascalName %>MutationVariables,
  FindRadmin<%= model.pascalName %>ById,
} from 'types/graphql'

import { Link, routes, navigate } from '@redwoodjs/router'
import { useMutation } from '@redwoodjs/web'
import { toast } from '@redwoodjs/web/toast'

// TODO: Only import formatters that are used
import { checkboxInputTag, formatEnum, timeTag, sanitizedHtml, relation } from 'src/lib/radminFormatters'

const DELETE_<%= model.capitalName %>_MUTATION = gql`
  mutation Delete<%= model.pascalName %>Mutation($id: <%= idFieldType %>!) {
    delete<%= model.pascalName %>(id: $id) {
      id
    }
  }
`

interface Props {
  <%= model.camelName %>: NonNullable<FindRadmin<%= model.pascalName %>ById['<%= model.camelName %>']>
}

const <%= model.pascalName %> = ({ <%= model.camelName %> }: Props) => {
  const [delete<%= model.pascalName %>] = useMutation(DELETE_<%= model.capitalName %>_MUTATION, {
    onCompleted: () => {
      toast.success('<%= model.pascalName %> deleted')
      navigate(routes.radmin<%= model.pascalPluralName %>())
    },
    onError: (error) => {
      toast.error(error.message)
    },
  })

  const onDeleteClick = (id: Delete<%= model.pascalName %>MutationVariables['id']) => {
    if (confirm('Are you sure you want to delete <%= model.camelName %> ' + id + '?')) {
      delete<%= model.pascalName %>({ variables: { id } })
    }
  }

  return (
    <div className="radmin-model">
      <header>
        <h2>
          <%= model.pascalName %> {<%= model.camelName %>.id} Details
        </h2>
      </header>
      <div className="radmin-table-wrapper">
        <table className="radmin-table">
          <tbody>
            <%_ for (let field of modelFields) { -%>
              <% const renderData = getRenderData(field.name) %>
              <tr>
                <th><%= field.name %></th>
                <td>{<%= renderData.displayFunction %>(<%= model.camelName %>.<%= field.name %>)}</td>
              </tr>
            <% } %>
          </tbody>
        </table>
      </div>
      <div className="radmin-button-group">
        <Link
          className="radmin-button"
          to={routes.radminEdit<%= model.pascalName %>({ id: <%= model.camelName %>.id })}
        >
          Edit
        </Link>
        <button
          className="radmin-button radmin-button-delete"
          type="button"
          onClick={() => onDeleteClick(<%= model.camelName %>.id)}
        >
          Delete
        </button>
      </div>
    </div>
  )
}

export default <%= model.pascalName %>
