import { useForm } from 'react-hook-form'
import type { EditRadmin<%= model.pascalName %>ById, Update<%= model.pascalName %>Input } from 'types/graphql'

import type { RWGqlError } from '@redwoodjs/forms'
<%- modelFormImports %>

type Form<%= model.pascalName %> = NonNullable<EditRadmin<%= model.pascalName %>ById['<%= model.camelName %>']>

interface Props {
  <%= model.camelName %>?: EditRadmin<%= model.pascalName %>ById['<%= model.camelName %>']
  onSave: (data: Update<%= model.pascalName %>Input, id?: Form<%= model.pascalName %>['id']) => void
  error: RWGqlError
  loading: boolean
}

const <%= model.pascalName %>Form: React.FC<Props> = ({ <%= model.camelName %>, onSave, error, loading }) => {
  const formMethods = useForm<Form<%= model.pascalName %>>()

  const onSubmit = (data: Form<%= model.pascalName %>) => {
    onSave(data, <%= model.camelName %>?.id)
  }

  return (
    <div>
      <Form<Form<%= model.pascalName %>>
        onSubmit={onSubmit}
        error={error}
        formMethods={formMethods}
      >
        <FormError
          error={error}
          wrapperClassName="rw-form-error-wrapper"
          titleClassName="rw-form-error-title"
          listClassName="rw-form-error-list"
        />

        <%_ for (const field of modelFields) { -%>
          <% const renderData = getRenderData(field.name) %>
          <Label
            name="<%= field.name %>"
            className="radmin-label"
            errorClassName="rw-label rw-label-error"
          >
            <%= renderData.displayName %>
          </Label>

          <%_ if (renderData.description) { %>
            <div className="radmin-description"><%= renderData.description %></div>
          <% } -%>

          <%_ if (renderData.subData) { %>
            <%_ for (const subData of renderData.subData) { %>
              <div className="radmin-check-radio-item">
                <<%= renderData.component %>
                  id="<%= model.kebabName %>-<%= field.name %>-<%= subData.value %>"
                  name="<%= field.name %>"
                  defaultValue="<%= subData.value %>"
                  defaultChecked={<%= model.camelName %>?.<%= field.name %> === '<%= subData.value %>'}
                  errorClassName="rw-input-error"
                  <%= renderData.validation ? `validation=${renderData.validation}` : '' -%>
                />
                <div><%= subData.displayName %></div>
              </div>
            <% } %>
          <% } else { %>
            <<%= renderData.component %>
              name="<%= field.name %>"
              <%= renderData.defaultProp %>={<%= model.camelName %>?.<%= field.name %> ?? <%= renderData.defaultValue %>}
              className="radmin-input"
              errorClassName="radmin-input rw-input-error"
              <%= renderData.emptyAs -%>
              <%- renderData.setValue -%>
              <%= renderData.validation ? `validation=${renderData.validation}` : '' -%>
            />
          <% } %>

          <FieldError name="<%= field.name %>" className="rw-field-error" />
        <% } -%>

        <div className="rw-button-group">
          <Submit disabled={loading} className="radmin-button">
            Save
          </Submit>
        </div>
      </Form>
    </div>
  )
}

export default <%= model.pascalName %>Form
