import { Link, routes } from '@redwoodjs/router'

const MAX_STRING_LENGTH = 150

const <%= model.pluralName %> = ({ <%= model.camelPluralName %> }) => {
  const truncate = (text) => {
    let output = text

    if (text && text.length > MAX_STRING_LENGTH) {
      output = output.substring(0, MAX_STRING_LENGTH) + '...'
    }

    return output
  }

  const onDeleteClick = (id) => {
    if (confirm('Are you sure you want to delete <%= model.name %> ' + id + '?')) {
      // TODO: Implement
      // delete<%= model.name %>({ variables: { id } })
    }
  }

  return (
    <div>
      <table>
        <thead>
          <tr>
            <th>Id</th>
            <th>
              <span className="sr-only">Actions</span>
            </th>
          </tr>
        </thead>
        <tbody>
          {<%= model.camelPluralName %>.map((<%= model.camelName %>) => (
            <tr key={<%= model.camelName %>.id}>
              <td>{truncate(<%= model.camelName %>.id)}</td>
              <td>
                <nav className="rw-table-actions">
                  <Link
                    to={routes.arwdmin<%= model.pascalName %>({ id: <%= model.camelName %>.id })}
                    title={'Show <%= model.name %> ' + <%= model.camelName %>.id + ' details'}
                  >
                    Show
                  </Link>
                  <Link
                    to={routes.arwdminEdit<%= model.pascalName %>({ id: <%= model.camelName %>.id })}
                    title={'Edit <%= model.name %> ' + <%= model.camelName %>.id}
                  >
                    Edit
                  </Link>
                  <button
                    type="button"
                    title={'Delete <%= model.name %> ' + <%= model.camelName %>.id}
                    onClick={() => onDeleteClick(<%= model.camelName %>.id)}
                  >
                    Delete
                  </button>
                </nav>
              </td>
            </tr>
          ))}
        </tbody>
      </table>
    </div>
  )
}

export default <%= model.pluralName %>
