import { navigate, routes } from '@redwoodjs/router'
import { useMutation } from '@redwoodjs/web'
import { toast } from '@redwoodjs/web/toast'

import <%= model.pascalName %>Form from 'src/components/radmin/<%= model.pascalName %>/<%= model.pascalName %>Form'

import type { Create<%= model.pascalName %>Input } from 'types/graphql'

const CREATE_<%= model.capitalName %>_MUTATION = gql`
  mutation CreateRadmin<%= model.pascalName %>Mutation($input: Create<%= model.pascalName %>Input!) {
    create<%= model.pascalName %>(input: $input) {
      id
    }
  }
`

const New<%= model.pascalName %> = () => {
  const [create<%= model.pascalName %>, { loading, error }] = useMutation(
    CREATE_<%= model.capitalName %>_MUTATION,
    {
      onCompleted: () => {
        toast.success('<%= model.pascalName %> created')
        navigate(routes.radmin<%= model.pascalPluralName %>())
      },
      onError: (error) => {
        toast.error(error.message)
      },
    }
  )

  const onSave = (input: Create<%= model.pascalName %>Input) => {
    create<%= model.pascalName %>({ variables: { input } })
  }

  return (
    <div className="radmin-model-new">
      <header>
        <h2>New <%= model.pascalName %></h2>
      </header>
      <div>
        <<%= model.pascalName %>Form onSave={onSave} loading={loading} error={error} />
      </div>
    </div>
  )
}

export default New<%= model.pascalName %>
